<div class="row" style="padding: 38px">
  <div class="col-md-8 col-sm-12 contact__card">
    <i class="fas fa-3x fa-map-marker-alt"></i>

    <h4>
      Teclib' Address
    </h4>

    <a href="https://goo.gl/maps/iYVfBdPrEL2nEW9g6" target="_blank">
      <p>
        75001 Paris
      </p>
    </a>
  </div>

  <div class="col-md-8 col-sm-12 contact__card">
    <i class="fas fa-3x fa-phone"></i>

    <h4>Phone</h4>

    <a href="tel:+33179970278">
      <p>
        +33 1 79 97 02 78
      </p>
    </a>
  </div>

  <div class="col-md-8 col-sm-24 contact__card">
    <i class="fas fa-3x fa-users"></i>

    <h4>Customers</h4>

    <a href="mailto:{{ site.email }}">
      <p>
        support channel
      </p>
    </a>
  </div>
</div>
