_site
.sass-cache
.sass-cache/*
.jekyll-metadata
.DS_Store
node_modules
.gradle/
gradle
.idea/
build/
app/
local.properties
app/src/main/assets/about.properties
*.properties
gradlew
gradlew.bat