footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 45px;
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    img {
        width: 70px;
    }
}